

div.active{
  background-color: bisque;

}

div .g{
  background-color: black;
}


.element{
  border: 2px solid red;
  width: 100%;

  aspect-ratio: 16/8;
  
 
  background-image: url(../public/Images/p1.jpg);
     
    
     background-size: cover;
     background-repeat: no-repeat;
     
  
}

.imgg{
  width: 300px;
  height: 200px;
}